/*$color-web:#FACBBD;
$color-graphic:#F5A992;
$color-producto:#F18767;
$color-arquitectura:#EE6F49;*/

$color-web:#EE6F49;
$color-graphic:#F18767;
$color-producto:#F5A992;
$color-arquitectura:#FACBBD;

$color-portada:#ec6137;
$color-light:#FCE9E7;

$color-dark:#353535;
$color-white:#ffffff;
$color-grey:#F7F4F1;


/*$color-op-web:rgba(238,111, 73, 1 );
$color-op-graphic:rgba(238,111, 73, 0.9 );
$color-op-producto:rgba(238,111, 73, 0.8 );
$color-op-arquitectura:rgba(238,111, 73, 0.7 );
$color-op-light:rgba(238,111, 73, 0.6 );*/


$color-op-web:(238,111, 73, 0.6 );
$color-op-graphic:rgba(238,111, 73, 0.7 );
$color-op-producto:rgba(238,111, 73, 0.8 );
$color-op-arquitectura:rgba(238,111, 73, 0.9 );
$color-op-light:rgba(238,111, 73, 1 );


$font-sans: 'Cormorant Garamond', serif;
$font-italic-light:'Raleway', cursive;
$font-cuerpo: 'Lato', sans-serif;

$proyect-width:600px;

$max-width:1500px;

$ancho-banda:90px;

$main-text: 15px;
$boton-text:26px; 
$boton-text-d: 2.3vw;
$medium-text: 16px;
$second-text: 13px;


/*MEDIAQUUERIES*/
$hd-width:1920px;
$desktop-width:1366px;
$laptop-width: 1170px;
$tablet-width: 850px;
$mobile-width: 600px;
$minimobile-width: 300px;


@mixin desktop {
    @media screen and (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: #{$laptop-width}) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: #{$mobile-width}) {
        @content;
    }
}
@mixin minimobile {
    @media screen and (max-width: #{$minimobile-width}) {
        @content;
    }
}


@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin shadow-1() {
    -webkit-box-shadow:3px 3px 6px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow:03px 3px 6px 0px rgba(0, 0, 0, 0.23);
    -ms-webkit-box-shadow:3px 3px 6px 0px rgba(0, 0, 0, 0.23);
    box-shadow:3px 3px 6px 0px rgba(0, 0, 0, 0.23);
}


@mixin inline-middle{
    display: inline-block;
    vertical-align: middle;
}
@mixin inline-top{
    display: inline-block;
    vertical-align: top;
}
@mixin inline-bottom{
    display: inline-block;
    vertical-align: bottm;
}


body{
    font-family: $font-sans;
}
.navbar{
    background: $color-light;
    width: 100%;
    position:fixed;
    text-align: center;
    z-index: 3;
    height: 70px;


    h1{
        line-height: 70px;
        font-size: 17px;
        color: $color-producto;
    }
}
.navbar.con-banda{
    padding-right: $ancho-banda;
}

.menu-box{
    background: $color-producto;
    color: $color-white;
    height: 50px;
    width: 50px;
    line-height: 50px;
    position: absolute;
    z-index: 4;
    top: 10px;
    left: 10px;
    font-size: 13px;
    nav {
        display:none;
        position: absolute;
        text-align: right;
        z-index: 5;
        width: 100%;
        padding: 40px 17px 30px 50px;
        font-size: 20px;
        height: 100%;
        div{
            border-bottom: 1px solid $color-white;
            margin-bottom: 10px;
            cursor: pointer;
        }
    }
    a{
        text-decoration: none;
        color: inherit;
    }
}

.menu-box.abremenu{
    min-height: 500px;
    height: 100%;
    min-width: 250px;
    width: 25%;
    line-height: inherit;

    p{
        font-size: 30px;
        text-align: left;
        position: relative;
        top: 20px;
        left: 10px;
        cursor: pointer;
        width: 100%;
        height: 40px;
        display: block;
        line-height: auto;
        padding-left: 10px;


    }
}

h1.titulo{
    text-transform: uppercase;
}
h2.titulo{
    font-family: $font-italic-light;
    font-size: 14px;
    padding-bottom: 25px;
}

ul.titulo{
    font-family: $font-sans;
    list-style: none;
    color: $color-white;
    width: 100%;
    margin: 0 auto;
    background-color:$color-arquitectura;
    height:100%;
    position:relative;
    li{
        position: absolute;
        line-height: 80px;
        height: 80px;
        width: 100%;
        top: 0px;
        text-transform: uppercase;
        color: transparent;
        cursor: pointer;
    }


    .c-web{
        background-color: $color-web;
        font-size: 1px;
    }
    .c-graphic{
        background-color: $color-graphic;
        font-size: 1px;
        top:20px
    }
    .c-product{
        background-color: $color-producto;
        font-size: 1px;
        top:45px
    }
    .c-architecture{
        background-color: $color-arquitectura;
        font-size: 1px;
        top:80px
    }

    li.hovered{
        position: relative;
        color: $color-white;

    }
    .c-web.hovered{
        font-size: 49px;

    }
    .c-graphic.hovered{
        font-size: 22px;
        top: 0px;
    }
    .c-product.hovered{
        font-size: 18px;
        top: 0px;
    }
    .c-architecture.hovered{
        font-size: 13px;
        top: 0px;
    }
}
.menu-ap:hover{text-decoration: underline;}

.portada{
    background: $color-portada;
    font-family: $font-sans;
    width: 100%; 
    margin: 0 auto;
    height: 100%;
    position: relative;
    color: $color-arquitectura;
    text-align:center;
    z-index: 12;


}
.content{
    width: 100%;
    overflow: hidden;

    >div{
        width: 100%;
        position: relative;
    }


    .c-web{
        color:  $color-web;
        .banda{
            background: $color-web;
        }
    }
    .c-graphic{
        color:  $color-graphic;
        .banda{
            background: $color-graphic;
        }
    }
    .c-product{
        color:  $color-producto;
        .banda{
            background: $color-producto;
        }
    }
    .c-architecture{
        color:  $color-arquitectura;
        .banda{
            background: $color-arquitectura;
        }
    }

}

.banda{
    width: $ancho-banda;
    color: $color-white;
    height: 100%;
    display: block;
    font-size: 17px;
    text-align: left;
    padding: 100px 10px 10px;
    position: absolute;
    right: 0px;
    z-index:10;

    font-weight: lighter;
    @include tablet { width:70px;}

    h2{word-break: break-all; text-transform: uppercase; font-family:$font-sans; }
    h3{ font-family:$font-sans; }
    .detalle{
        padding-left: 100px;
        overflow:scroll!important;
        position: relative;
    }
    div{
        position: relative; 
        width: 70px;
        @include tablet { width:55px;}
    }
    p, ul{
        font-family:$font-cuerpo; 
        margin-bottom: 15px;
        font-weight: lighter;
        font-size: 15px;
    }

}

.banda.mostrada{
    width: 40%;
    padding: 150px 30px;
    @include tablet { width:70%;}
    .detalle{ padding-left: 0px;}
    div{width: auto; overflow: hidden; padding-right: 20px;}
}
.fix{
    position: fixed!important;
    //top tiene que ser igual al padding top de la banda
    top: 100px;
    width: auto;
}
.bloque{
    max-width: $max-width;
    width:100%;
    margin: 0 auto;
    padding: 100px 100px 100px 50px;

    @include laptop {padding: 200px 130px 100px 50px;}
    @include tablet {padding: 100px 90px 100px 20px;}
    >div{
        @include inline-top;
        width: 28%;
        margin: 40px 2.5%;

        @include laptop { width:45%; margin: 40px 2%;}
        @include mobile { width:80%; margin: 30px auto;    display: block;}
    }
    >div:first-child{
        display: block;
        margin:40px auto;
        @include laptop {@include inline-top;  margin: 40px 2%;}
        @include mobile {margin: 30px auto; display: block;}

    }
    a{
        display: block;
        color: inherit;
        text-decoration: none;
    }
    img{
        width: 100%;
        height: auto;
        text-align: center;
    }
    img:hover{opacity:0.9}
    .all{
        display: block;
        margin: 30px auto;
    }
    p{
        padding-top: 10px;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
    }
}
.proyect{
    font-family: $font-italic-light;
    width:100%;
    margin: 0 auto;
    padding: 110px 100px 100px 50px;
    background: $color-grey;
    text-align: center;
    .presenta-proyecto{
        width: $proyect-width;
        margin: 0 auto;
    }
    .enlaces-proyecto{
        width: 100%;
        overflow: hidden;
        margin: 0 auto 10px;

        .c-web{
            background: $color-web;
        }
        .c-graphic{
            background: $color-graphic;
        }
        .c-product{
            background: $color-producto;
        }
        .c-architecture{
            background: $color-arquitectura;
        }
        div{
            padding: 10px;
            width: auto;
            float: left;
            margin: 2px;
            color: $color-white!important;
        }
        .titulo{
            font-family: $font-cuerpo;
            min-height: 50px;
        }
        .titulo h2{
            padding-top: 5px;
            font-size: 15px;
        }
        .volver, .ver{
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
        .volver:hover, .ver:hover{
            opacity: .8;
        }
        a{
            text-decoration: none;
            color: inherit;
        }

    }
    img{
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
    >div{
        display: block;
        width: auto;
        margin: 40px 2.5%;


    }

    .imagenes-proyecto{
        -moz-column-count: 3;
        -moz-column-gap: 8px;
        -moz-column-fill: balance;
        -webkit-column-count: 3;
        -webkit-column-gap: 8px;
        -webkit-column-fill: balance;
        column-count: 3;
        column-gap: 8px;
        column-fill: balance;


        div{
            position: relative;
            -moz-column-break-inside: avoid;
            -webkit-column-break-inside: avoid;
            break-inside: avoid-column;
            margin: 0 2px;
            padding: 0px;
            border: 1px solid $color-grey;;
            font-size: 16px;
            white-space: normal;
            display: table;
            width: 98%;
            cursor: pointer;
            img {
                position: relative;
                display: block;
                box-shadow: 2px 2px 4px 0px rgba(34,25,25,0.19);
                background: #ffffff;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                border-radius: 4px;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
        }
        div:first-child{
            margin-top: 0px;
        }
    }


}


.info-button{
    height: 55px !important;
    width: 55px !important;
    border-radius: 300px;
    text-align: center;
    line-height: 49px;
    font-size: 40px;
    background: $color-white;
    text-align: center;
    color:$color-web;
    margin-bottom: 10px;
}
/*@-webkit-keyframes color-change-2x {
    0% {
        background: $color-arquitectura;
    }
    50%{background: $color-web;
    }
    100% {
        background: $color-arquitectura;
    }
}
@keyframes color-change-2x {
      0% {
        background: $color-arquitectura;
    }
    50%{background: $color-web;
    }
    100% {
        background: $color-arquitectura;
    }
}
.color-change-2x {
    -webkit-animation: color-change-2x 9s infinite alternate both;
    -moz-animation: color-change-2x 9s infinite alternate both;
    animation: color-change-2x 9s infinite alternate both;
}*/
.footer{
    width: 100%;
    margin: 0 auto;
    height: 200px;
    background: $color-arquitectura;

}